<!DOCTYPE html>
<html>
  <head>
    <title>SimpleFramework</title>
    <style type="text/css" media="screen">
      body = {
        background-color: #4B7399;
        font-family: Verdana;
        font-size: 200 px;
      }
      #container {
        width: 75%;
        margin: 0 auto;
        background-color: blue;
        padding: 20px 40px;
        border: solid 1px black;
        margin-top: 20px;
      }
    </style>
  </head>
  <body bgcolor="#c0c0c0">
    <div id="container">
      <h1 style="color:blue;">A Blue Heading</h1>
      <h1> Welcome to Codebraker game </h1>
      <h1> Please choose "start" to enter the game </h1>
      <form method="post" action="/set_att">
        <input type="submit" value="Start">
      </form>
    </div>
  </body>
</html>
